<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Mustache Templating</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Oregano' rel='stylesheet' type='text/css'>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <header class="container">
    <h1>{{greeting}}</h1>
  </header>

  <section class="container">

    <h2>People:</h2>
    <ul id="people">
    {{#people}}
      {{> person}}
    {{/people}}
    </ul>

    <h3>Add new person:</h3>
    <form id="add-person">
      <input type="text" name="name" placeholder="Name" />
      <input type="text" name="age" placeholder="Age" size="5" />
      <button type="submit">Save person</button>
    </form>

  </section>

  <script type="text/javascript" src="assets/mustache/mustache.js"></script>
  <script type="text/javascript" src="assets/jquery/dist/jquery.js"></script>
  <script type="text/javascript">
    (function($, Mustache) {

      var template = $.ajax({
        type: "GET",
        url: 'templates/person.mustache',
        async: false
      }).responseText;

      $('#add-person').on('submit', function(event) {

        event.preventDefault();

        var form = event.target;

        var model = {
          name: form['name'].value,
          age: form['age'].value,
        };

        var element = Mustache.render(template, model);

        $('#people').append(element);

        form.reset();
      });

    })(jQuery, Mustache);
  </script>

</body>

</html>
