<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Isomorphic Templating - FTW!</title>
  <meta name="description" content="An introduction to the Yeoman, Bower and Grunt toolset.">
  <meta name="author" content="Olle Törnström - toernstroem@synyx.de">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="../bower_components/reveal.js/css/reveal.min.css">
  <link rel="stylesheet" href="../bower_components/reveal.js/css/theme/blood.css" id="theme">
  <link rel="stylesheet" href="../bower_components/reveal.js/lib/css/zenburn.css">

  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
    document.write('<link rel="stylesheet" href="../bower_components/reveal.js/css/print/' + (window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper') + '.css" type="text/css" media="print">');
  </script>

  <!--[if lt IE 9]>
  <script src="../bower_components/reveal.js/lib/js/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div class="reveal">
    <div class="slides">


      <section>
        <h1>Welcome!</h1>
        <p>
          DISCLAIMER: this presentation may contain strongly opinionated views,
          philosophical tech-rants, very little science and possibly traces of
          <em>nuts</em>.
        </p>
      </section>


      <section>
        <h1>Isomorphic Templating</h1>
        <aside class="notes">
          This talk is about templating in web applications, and how it can be
          done both on the server- and client-side. While we're waiting for
          web components to come.
        </aside>
      </section>


      <section>
        <h3>template <small>|ˈtɛmpleɪt, -plɪt|</small></h3>
        <p>a shaped piece of rigid material used as a pattern for processes such as cutting out, shaping, or drilling.</p>
        <aside class="notes">
          Templating can mean different things to different people.
        </aside>
      </section>


      <section>
        <img src="img/templating.jpg" />
        <aside class="notes">
          This is not what we mean.
        </aside>
      </section>


      <section>
        <h3>In ur strz, interpolejtin!</h3>
        <pre><code data-trim>
name = 'Zoidberg'

Hello ${name}!

=> 'Hello Zoidberg!'
        </code></pre>
        <aside class="notes">
          For this talk, this is our simplified definition of templating: string
          interpolation or the ability to separate the content from the
          presentation.
        </aside>
      </section>


      <section>
        <h3>Dynamic Server Pages</h3>
        <img src="img/webserver.jpg" />
        <aside class="notes">
          Templating on the web has had quite an important role. Initially the
          web was more or less: static documents with links. My first encounter
          with dynamic content was generated static pages, rendered or
          interpolated every night, by the server.
        </aside>
      </section>


      <section>
        <h2>Templating v1.0</h2>
        <img src="img/serverpageswars.png" />
        <aside class="notes">
          So it was clear that the web was going to be dynamic, and so begun the
          "war of the server pages". Emphasis on `server`. Pages were generated
          on the server.
        </aside>
      </section>


      <section>
        <h2>ASP, JSP, PHP</h2>
        <pre><code data-trim>
<p>Hello <%= name %>!</p>

<p>Hello <%= name %>!</p>

&lt;p&gt; Hello &lt;?= $name ?&gt;!&lt;/p&gt;

        </code></pre>
        <aside class="notes">
          Here's some classic server pages templating. There was a pretty common
          view on how to actually do simple templating.
        </aside>
      </section>


      <section>
        <h2>Can haz moar puwr!</h2>
        <img src="img/js-performance-over-time.png" />
        <aside class="notes">
          Now let's fast forward into present time. Thanks to Moore's law
          everything got faster and better. Web 2.0 and Ajax came to solve the
          slow request-render-response cycles.
        </aside>
      </section>


      <section>
        <h3>Templating v1.9</h3>
        <pre><code data-trim class="javascript">
$('#greeting').append('<p>Hello' + name + '</p>');
        </code></pre>
        <aside class="notes">
          At first, almost everybody did stuff like this. It was quick, and...
          well dirty.
        </aside>
      </section>


      <section>
        <h1>Bad idea</h1>
        <img src="img/badidea.jpg" />
        <aside class="notes">
          But as projects grew in features on the client-side, so did the
          motivation for a better solution.
        </aside>
      </section>


      <section>
        <h3>Templating v2.0</h3>
        <img src="img/js-templating-v1.png" />
        <aside class="notes">
          Which resulted in a lot of neat templating solutions for the
          client-side.
        </aside>
      </section>


      <section>
        <h2>Templating v3.0!</h2>
        <img src="img/js-templating-v2.png" />
        <aside class="notes">
          Or why not for both the server and the client!
        </aside>
      </section>


      <section>
        <h2>Example</h2>
        <p>Server- and client-side templating with Spring MVC and Mustache.</p>
        <aside class="notes">
          To demonstrate how we can do this I've prepared a little demo
          application based on Spring MVC and Mustache.
        </aside>
      </section>


      <section>
        <h3>Dependencies</h3>
        <pre><code data-trim class="xml">
<dependency>
  <groupId>com.github.sps.mustache</groupId>
  <artifactId>mustache-spring-view</artifactId>
  <version>1.3</version>
</dependency>
<dependency>
  <groupId>com.samskivert</groupId>
  <artifactId>jmustache</artifactId>
  <version>1.9</version>
</dependency>
        </code></pre>
        <aside class="notes">
          The `mustache-spring-view` library together with the `JMustache`
          implementation, is our view-layer.
        </aside>
      </section>

      <section>
        <h3>Project layout</h3>
        <pre><code data-trim>
src/main
    ├── java
    │   └── ...
    └── webapp
        ├── WEB-INF/
        ├── assets
        │   ├── jquery/
        │   ├── mustache/
        │   └── etc...
        ├── css/
        ├── img/
        ├── js/
        ├── index.html
        └── _person.html
        </code></pre>
        <aside class="notes">
          As you see, it's a very simple application with some dependecy-
          assets, CSS, images and JavaScript - and of course our Mustache
          HTML-templates.
        </aside>
      </section>


      <section>
        <h3>Config</h3>
        <pre><code data-trim class="java">
...
@Configuration
@EnableWebMvc
@ComponentScan(basePackages = { "webapp" })
public class WebAppConfig extends WebMvcConfigurerAdapter {

  @Override
  public void addResourceHandlers(ResourceHandlerRegistry reg) {

    reg.addResourceHandler("/**/*.html").addResourceLocations("/");
    reg.addResourceHandler("/assets/**").addResourceLocations("/assets/");
    reg.addResourceHandler("/css/**").addResourceLocations("/css/");
    reg.addResourceHandler("/img/**").addResourceLocations("/img/");
    reg.addResourceHandler("/js/**").addResourceLocations("/js/");
  }
  ...
        </code></pre>
        <aside class="notes">
          We're configuring everything through an app initializer and this
          annotated configuration class - enabling our resources.
        </aside>
      </section>


      <section>
        <h3>View resolver</h3>
        <pre><code data-trim class="java">
...
@Bean
public ViewResolver viewResolver() {

  MustacheViewResolver viewResolver = new MustacheViewResolver();
  viewResolver.setCache(false); // development only
  viewResolver.setTemplateFactory(templateFactory());

  return viewResolver;
}
...
        </code></pre>
        <aside class="notes">
          The Mustache view resolver is using a template factory bean...
        </aside>
      </section>


        <section>
          <h3>Template factory</h3>
          <pre><code data-trim class="java">
...
@Bean
public JMustacheTemplateFactory templateFactory() {

  JMustacheTemplateFactory templateFactory = new JMustacheTemplateFactory();
  templateFactory.setTemplateLoader(templateLoader());
  templateFactory.setSuffix(".html");

  return templateFactory;
}
...
          </code></pre>
          <aside class="notes">
            ...which we configure to use the HTML suffix. The template loader is
            also from the JMustache library, but we can use it out-of-the box.
          </aside>
        </section>


      <section>
        <h3>Controller</h3>
        <pre><code data-trim class="java">
...
@Controller
public class Index {

  @RequestMapping(value = "/")
  public String displayIndexPage(Model model) {

    model.addAttribute("greeting", "Hello from Mustache!");

    People.addPeople(model);

    return "index";
  }
  ...
        </code></pre>
        <aside class="notes">
          A simple controller adds a greeting property and tells a
          simple people-service to add some people, and returns the
          "index"-view.
        </aside>
      </section>


      <section>
        <h3>People</h3>
        <pre><code data-trim class="java">
...
public class People {

  public static void addPeople(Model model) {

    Person ruby = new Person("Ruby Heckler", 32);
    Person bernhard = new Person("Bernhard Klein", 55);
    Person trogdor = new Person("Trogdor", 3221);

    model.addAttribute("people", Arrays.asList(ruby, bernhard, trogdor));
  }
...
        </code></pre>
        <aside class="notes">
          The fake service adds a list of people to the model.
        </aside>
      </section>


      <section>
        <h3>Index template</h3>
        <pre><code data-trim>
...
&lt;body&gt;
  &lt;header class="container"&gt;
    &lt;h1&gt;{{greeting}}&lt;/h1&gt;
  &lt;/header&gt;
  &lt;section class="container"&gt;
    &lt;h2&gt;People:&lt;/h2&gt;
    &lt;ul id="people"&gt;
    {{#people}}
      {{&gt; _person}} <!-- Partial yay! -->
    {{/people}}
    &lt;/ul&gt;
...
        </code></pre>
        <aside class="notes">
          This is our index Mustache-template, we have a header with the
          greeting and a block for the people. Each person is rendered by a
          partial.
        </aside>
      </section>


      <section>
        <h3>Person template</h3>
        <pre><code data-trim>
&lt;li&gt;
  &lt;strong&gt;Name:&lt;/strong&gt; {{name}}
  &lt;strong&gt;Age:&lt;/strong&gt; {{age}}
&lt;/li&gt;
        </code></pre>
        <aside class="notes">
          The person partial encapsulates a list-item and renders the person
          and age.
        </aside>
      </section>


      <section>
        <h1>Demo</h1>
        <aside class="notes">
          So let's see it run! Simply start it `mvn jetty:run`.
        </aside>
      </section>


      <section>
        <img src="img/why.jpg" />
        <aside class="notes">
          Ok, that was fun. But why would we ever want to do this in a project?
          I can think of a few reasons.
        </aside>
      </section>


      <section>
        <img src="img/recycle.png" />
        <aside class="notes">
          Re-use: are excellent for server/client-side template reuse. Allows
          re-use without constraints between projects too.
        </aside>
      </section>


      <section>
        <img src="img/dev-design-design-dev.jpg" />
        <aside class="notes">

        </aside>
      </section>

    </div>
  </div>

  <script src="../bower_components/reveal.js/lib/js/head.min.js"></script>
  <script src="../bower_components/reveal.js/js/reveal.min.js"></script>
  <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'concave', // default/cube/page/concave/zoom/linear/fade/none

      // Parallax scrolling
      parallaxBackgroundImage: 'img/reveal-parallax-1.jpg',
      parallaxBackgroundSize: '2100px 900px',

      // Optional libraries used to extend on reveal.js
      dependencies: [{
        src: '../bower_components/reveal.js/lib/js/classList.js',
        condition: function() {
          return !document.body.classList;
        }
      }, {
        src: '../bower_components/reveal.js/plugin/highlight/highlight.js',
        async: true,
        callback: function() {
          hljs.initHighlightingOnLoad();
        }
      }, {
        src: '../bower_components/reveal.js/plugin/notes/notes.js',
        async: true,
        condition: function() {
          return !!document.body.classList;
        }
      }]
    });
  </script>
</body>

</html>
